<head>
  <title>VueDart test</title>
</head>

<body>
  <div id="app">
    <check-box v-model="checked"></check-box>

    <p>{{todoMixinData}}</p>
    <p>default:</p> <router-view></router-view>
    <p>single:</p> <router-view name="single"></router-view>
    <router-link to="/item/10">goto item</router-link>
    <router-link to="/item/10/info">goto item info</router-link>
    <router-link to="/singleitem/10">goto single</router-link>

    <button @click="click">go test</button>

    <ol>
      <todo-item
        v-for="item in groceryList" :todo="item" :key="item.id"
        :first="item.id == 0">
      </todo-item>
    </ol>
  </div>

  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vue-router"></script>
  <script type="application/javascript" src="index.vue.dart.js"></script>
</body>
